@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  font-family: sans-serif;
  text-align: center;
  font-family: 'Jura', sans-serif;
}

body {
  background: black;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.Blog{
  background: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

